.popup__submit_inactive {
  opacity: 0.2;
  background-color:  #FFFFFF;
  cursor: default;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  transition: none;
  pointer-events: none;
}
